<h1>TEST
</h1>
  <div class="container fluid" >
  <div class="row" min-height="500px" >
    <div class="span8">
      <object class="flex-video widescreen" type="application/x-shockwave-flash" height="100%" width="100%" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=vespalive" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel=vespalive&auto_play=true&start_volume=25" /></object>
      </div>
      <div class="span4">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" src="http://twitch.tv/chat/embed?channel=vespalive&amp;popout_chat=true"></iframe>
      </div>
    </div>
  </div>
