<div class="container">
<h2><%= @user %></h2>
  <hr/>
  <div class="col-md-4">
    <%= image_tag('badge.png', class: "img-responsive", size: "256x256") %>
  </div>
  <div class="col-md-7"><p><%= @user.bio %></p></div>

</div> 